/*Navigation Page css*/

/*
Page: main.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
/* Specific welcome page elements */
/*Specifies the same h1 elements throughout site*/
/*
Page: welcome.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
body {
    /* background-image: url("../space.png"); */
    background-image: url("../images/space.jpg"); 
    /* margin: 250px;
    text-align: center; */
}

@font-face {
    font-family: myFancyFont;
    src: url("../Fonts/BenguiatBold.ttf");
}
/* audio { 
    display:none;
 } */

/* Specific welcome page elements */
h1 {
    color: #1c0502;
    font-family: myFancyFont;
    font-size: 500%;
    text-decoration: underline;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
}


