/*Navigation Page css*/

/*
Page: main.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
/* Specific welcome page elements */
/*Specifies the same h1 elements throughout site*/
/*
Page: welcome.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
body {
    background-image: url("../images/space.jpg"); 
    margin: 50px;
    /* text-align: center; */ */
}

@font-face {
    font-family: myFancyFont;
    src: url("../Fonts/BenguiatBold.ttf");
}
/* audio { 
    display:none;
 } */

/* Specific welcome page elements */
h1 {
    color: #1c0502;
    font-family: myFancyFont;
    font-size: 270%;
    text-decoration: underline;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #450100,
    0 0 15px #630100,
    0 0 20px #450100;
}
  
  .grid__item {
    animation: 1s linear 2s alternate infinite flicker;
    background: black;
    padding: 2rem;
  }
  .grid {
    background: #3dd3ed;
    display: grid;
    grid-auto-rows: 10vw;
    grid-gap: .15rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  @keyframes flicker { from { 
    box-shadow: inset 0 0 1.5rem #ed2b12; } to { 
    box-shadow: inset 0 0 1rem #920705; }  }

