/*Navigation Page css*/

/*
Page: main.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
/* Specific welcome page elements */
/*Specifies the same h1 elements throughout site*/
/*
Page: welcome.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
body {
    background-image: url("../images/space.jpg"); 
    margin: 50px;
    /* text-align: center; */ */
}

@font-face {
    font-family: myFancyFont;
    src: url("../Fonts/BenguiatBold.ttf");
}
/* audio { 
    display:none;
 } */

/* Specific welcome page elements */
h1 {
    color: #1c0502;
    font-family: myFancyFont;
    font-size: 250%;
    text-decoration: underline;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
}

body {
    color: #fff;
    font-family: monospace;
    margin: 0;
  }
  
  @media (min-width: 60rem) {
    .grid {
    grid-auto-rows: 25vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .grid__item {
    animation: 1s linear 0s alternate infinite flicker;
    /* background: black; */
    /* opacity: 0.5; */
    box-shadow: inset 0 0 2rem #ed2b12;
    padding: 2rem;
  }

  @media (min-width: 60rem) {
    .comment {
      grid-column: 2;
    }
  }
  
  @keyframes flicker { from { 
    box-shadow: inset 0 0 1.5rem #ed2b12; } to { 
    box-shadow: inset 0 0 1rem #ed2b12 }  }


