/*
Page: welcome.css
Info: For general styling elements such as text, images, etc.
*/

/* Body Styles */
body {
    background-image: url("../images/space.jpg");
    margin: 250px;
    text-align: center;
}

@font-face {
    font-family: myFancyFont;
    src: url("../Fonts/BenguiatBold.ttf");
}

/* Specific welcome page elements */
h1 {
    /*color: whitesmoke;*/
    color: #1c0502;
    font-family: myFancyFont;
    font-size: 500%;
    text-decoration: overline;
    text-decoration: underline;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
}

/* Form and Input */
input[type=text], select {
    width: 33%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

