{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <title>Trade Wars</title>

        <link href="/static/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <main>
            {{template "welcome" .}}
        </main>
        <!-- {{template "footer" .}} -->
        <!-- And include the JavaScript file -->
        <!-- <script src="/static/js/main.js" type="text/javascript"></script> -->
    </body>
</html>
{{end}}